table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}



li {
    display: inline-block;
    min-width: 200px;
}

td {
    text-align: center;
    justify-content: center;
}

td {
    min-width: 80px;
}

.paint {
    border: 1px solid black;
}

tr:last-child {
    border-right: 1px solid black;
}
